#main-container-home {
  /* width: 100%; */
  height: 100vh;
  background-color: #1e213a;
  background-image: url("../../images/Cloud-background.png");
  /* background: linear-gradient(
      rgba(30, 33, 58, 0.95) 100%,
      rgba(30, 33, 58, 0.95) 100%
    ), url("../../images/Cloud-background.png"); */
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: 150%;
}

#main-container-home::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#icon-home {
  color: skyblue;
  width: 100%;
  height: 100%;
}

#div-icon-home {
  height: 30%;
}

#h1-temperature-home {
  font-weight: 500;
  font-size: 7.5rem;
  color: #e7e7eb;
}

#h1-temperature-home > span {
  font-weight: 100;
  font-size: 4rem;
  color: #a09fb1;
}

#h4-temperature-home {
  color: #a09fb1;
  font-weight: 600;
  font-size: 2.5rem;
}

@media screen and (min-width: 992px) {
  #h1-temperature-home {
    font-size: 6rem;
  }

  #h1-temperature-home > span {
    font-size: 3.3rem;
  }

  #h4-temperature-home {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 1200px) {
  #h1-temperature-home {
    font-size: 7.5rem;
  }

  #h1-temperature-home > span {
    font-size: 4rem;
  }

  #h4-temperature-home {
    font-size: 2.5rem;
  }
}
