#main-container-navbar {
  z-index: 50;
  max-width: 0px;
  overflow: hidden;
  position: absolute;
  background-color: #1e213a;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
}

#main-container-navbar.active {
  max-width: 100%;
}

.button-list-navbar {
  color: white;
  border: 1px solid transparent;
}

.span-icon-arrow {
  color: transparent;
}

.button-list-navbar:hover {
  border: 1px solid #616475 !important;
}

.button-list-navbar:hover .span-icon-arrow {
  color: #616475;
}
