/* #main-container-hightlights {
   height:;
} */

.container-item-hightlight {
   background-color: #1e213a;
   color: white;
}

#h1-hightlights {
   color: white;
   font-size: 1.5rem;
   font-weight: 700;
   align-self: flex-start;
}

.p-item-hightlights {
   font-size: 4rem;
   font-weight: 700;
}

.p-item-hightlights > span {
   font-size: 2.5rem;
   font-weight: 500;
}

#div-icon-location-hightlights {
   color: #fff;
   background-color: #616475;
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   transform: rotate(-190deg);
}

@media screen and (min-width:992px) {
   #h1-hightlights {
      font-size: 1.4rem;
      padding-left: 2.5rem;
   }

   .p-item-hightlights {
      font-size: 3rem;
   }

   #div-icon-location-hightlights {
      height: 1.8rem;
      width: 1.8rem;
   }
}

@media screen and (min-width:1200px) {
   #h1-hightlights {
      font-size: 1.5rem;
   }

   .p-item-hightlights {
      font-size: 4rem;
   }

   #div-icon-location-hightlights {
      height: 2rem;
      width: 2rem;
   }
}

@media screen and (min-width:1400px) {
   #h1-hightlights {
      padding-left: 5.5rem;
   }
}